body {
    background-color: rgb(230, 233, 238);
    padding:2px;
}
#labeltext{
    text-align: left;
    padding:10px;
    font-size:15px;
    font-weight: bold;
    color:grey;
}
#button {
    position: absolute;
    width:25%;
    border:none;
    background-color: whitesmoke;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
}
#buttonOperation {
    position: absolute;
    width:25%;
    border:none;
    background-color: #efefef;
    border: 1px solid #C0C0C0;
    border-radius: 5px;  
}
#taskBarMenu {
    background-color:#efefef;
    border:none;
}
#taskBarMenu:hover {
    background-color:#d7d7d7;
    border-radius:10px;
}
#mainWindow
{
    color:black;
}
QMainWindow::title {
    background-color: black;
}

