body {
    background-color: rgb(230, 233, 238);
    padding:2px;
}
#button {
    position: absolute;
    width:25%;
    border:none;
    background-color: whitesmoke;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
}
#buttonOperation {
    position: absolute;
    width:25%;
    border:none;
    background-color: #efefef;
    border: 1px solid #C0C0C0;
    border-radius: 5px;  
}
#taskBarMenu {
    background-color:#efefef;
    border:none;
    text-align: center;
    margin: 4px;
}
#taskBarMenu:hover {
    background-color:#d7d7d7;
    border-radius:10px;
}
QToolButton:hover{
    background-color:#d7d7d7;
    border-radius:10px;
}
#mainWindow
{
    color:black;
}
#menu_actions
{
    border:none;
    text-align: left;
    background-color: rgb(231,231,231);
    padding:10px;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: lighter;
}
QLabel#menu_actions{
    text-align: left;
    padding:10px;
    font-size:15px;
    font-weight: bold;
    color:rgb(88,88,88);
}
QPushButton#menu_actions:hover
{
    background-color:rgb(224,224,224);
}
QMenu{
    background-color: rgb(231,231,231);
    
}
QMainWindow::title {
    background-color: black;
}


