body {
    background-color: rgb(230, 233, 238);
    padding:2px;
}
#button {
    position: absolute;
    width:25%;
    border:none;
    background-color: whitesmoke;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
}
#buttonOperation {
    position: absolute;
    width:25%;
    border:none;
    background-color: #efefef;
    border: 1px solid #C0C0C0;
    border-radius: 5px;  
}
#taskBarMenu {
    background-color:#efefef;
    border:none;
    text-align: center;
    margin: 4px;
}
#taskBarMenu:hover {
    background-color:#d7d7d7;
    border-radius:10px;
    margin: 4px;
}

QToolButton:hover{
    background-color:#d7d7d7;
    border-radius:10px;
}
#menu_actions
{
    border:none;
    text-align: left;
    background-color: rgb(231,231,231);
    padding:10px;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: lighter;
}
#animationWidgetTop
{
    background-color: rgb(231,231,231);
    border-top-right-radius: 17px;
    border-bottom: 0px;
}
#animationWidgetBottom
{
    background-color:rgb(231,231,231);
    border-bottom-right-radius:17px;
}
QPushButton#animationWidgetBottom:hover
{
    background-color:#d7d7d7;
    border-top-right-radius:13px;
    border-bottom-right-radius:13px;
}
QPushButton#animationWidgetBottom, QPushButton#ActiveAnimationWidgetBottom, QPushButton#DeactiveAnimationWidgetBottom
{
    font-size:18px;
    padding-left:10px;
    text-align:left;
    color:black;
    margin:5px;
    margin-top:25px;
    margin-left:0px;
    background-color:rgb(231,231,231);
    border-top-right-radius:13px;
    border-bottom-right-radius:13px;
}
QPushButton#ActiveAnimationWidgetBottom
{
    background-color:#d7d7d7 !important;
}
QLabel#menu_actions{
    text-align: left;
    padding:10px;
    font-size:16px;
    font-weight: bold;
    color:rgb(88,88,88);
}
QPushButton#menu_actions:hover
{
    background-color:rgb(224,224,224);
}
QMenu{
    background-color: rgb(231,231,231);
    
}
QMenu::item
{
    border-bottom: none;
}
QMainWindow::title {
    background-color: black;
}
QPushButton#Activated
{
    background-color:#d7d7d7;
    border-radius:10px;
    margin:4px;
}
QPushButton#Deactivated:hover
{
    background-color:#d7d7d7;
    border-radius:10px;
} 
QPushButton#Deactivated
{
    background-color:rgb(231,231,231);
    border:none;
    text-align: center;
    margin: 4px;
}
QScrollBar:vertical {
    background: transparent;
    width: 10px;
    margin: 10px 7px 10px 0px;
}
QScrollBar::handle:horizontal
{
    width: 0px;
}
QScrollBar::handle:vertical {
    min-height: 0px;
    border-radius: 2px;
    background-color: rgb(128, 128, 128);
    margin: 0px 0px 0px 0px;
}
QScrollBar::add-page:vertical {
    background: rgb(231, 231, 231); /* Tło obszaru add-page */
}
QScrollBar::sub-page:vertical {
    background: rgb(231, 231, 231); /* Tło obszaru sub-page */
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical { height: 0px; }
QListWidget
{
    border: none;
    background-color: rgb(231,231,231);
}
QListWidget::item
{
    border:none;
    text-align: left;
    background-color: rgb(231,231,231);
    padding:7px;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: lighter;
}
QListWidget#Default::item:hover
{
    background-color: rgb(224, 224, 224);
}
QListWidget::item:selected {
    background-color: transparent; 
    color: rgb(88,88,88);
    border: none; 
    font-weight: lighter;
} 
QListWidget::item:disabled
{
    background-color: rgb(224, 224, 224); /* Zmiana koloru tła zaznaczonego elementu */
    color: black; /* Kolor tekstu dla zaznaczonego elementu */
    border: none;
    margin-left: 5px;
    padding-left: 10px;
    background-image: url("src/ikony/main_app/scrollbar.png"); 
    background-repeat: no-repeat; /* Nie powtarzaj tła */
    background-position: left center; /* Pozycja obrazka po lewej stronie */
}
QListWidget#Label::item:hover
{
    background-color:none;
}



